<ion-view view-title="Nueva tarea">
  <ion-content>
    <form ng-submit="submit()" ng-controller="addTaskCtrl">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">T&iacute;tulo</span>
          <input type="text" ng-model="taskData.title">
        </label>
        <label class="item item-input">
          <span class="input-label">Descripci&oacute;n</span>
          <input type="text" ng-model="taskData.description">
        </label>
        <label class="item item-input">
          <span class="input-label">Tag</span>
          <select ng-model="taskData.tag" 
      			  ng-options="tag.name for tag in tags">
          	
          </select>
        </label>
        
        <label class="item">
          <button class="button button-block button-positive" type="submit">Guardar</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>