<ion-view view-title="Task">
  <ion-content>
    <h1 class="task_title">{{task.title}}</h1>
    <p class="task_details">
    	<span class="tag_txt"><em>{{task.tag}}</em></span>
    	<span class="divider"></span>
    	<span class="date_txt"><em>{{task.creation_date}}</em></span>
    </p>
    <p class="status_icon">{{task.status}}</p>
    <p class="task_description">{{task.description}}</p>
    <a ng-click="deleteTask(task.task_id)" class="btn btn-danger">Eliminar</a>
    <a ng-click="editTask(task.task_id)" class="btn btn-info">Editar</a>
    <a ng-click="completeTask(task.task_id)" class="btn btn-success">Completar</a>
  </ion-content>
</ion-view>
